/* styles.css */

/* Reset some default styles */
table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

.menu > a {
    width: auto;
    height: 70px;
}

body {
    background-color: #EFEFEF !important;
    min-height: 100vh;
}

header, footer {
    background-color: white;
}

.dropdownHeight {
    max-width: 300px ! important;
    max-height: 140px ! important;
    overflow-y: auto;

}

.dropdownWidth {
    max-width: 300px !important;
    max-height: 140px !important;
    overflow-y: auto;
}

.dropdownLength {
    max-width: 300px !important;
    max-height: 140px !important;
    overflow-y: auto;
}

.dropdownShed {
    max-width: 300px !important;
    max-height: 140px !important;
    overflow-y: auto;
}
