/* styles.css */

/* Reset some default styles */
table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

.menu > a {
    width: auto;
    height: 70px;
}

body {
    background-color: #EFEFEF !important;
    min-height: 100vh;
}

header, footer {
    background-color: white;
}


.dropdownHeight {
    max-width: 300px ! important;
    max-height: 140px ! important;
    overflow-y: auto; !important;

}
.dropdownWidth {
    height: auto;
    max-width: 300px !important;
    max-height: 140px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;

}

.form-group.dropdownLength .form-control {
    height: auto;
    max-width: 300px;
    max-height: 140px;
    overflow-y: auto !important;
    overflow-x: hidden;


}

.dropdownShed {
    max-width: 300px !important;
    max-height: 140px !important;
    overflow-y: auto;
    overflow-x: hidden; !important;
}

.custom-table.table-striped>tbody>tr:nth-of-type(odd)>* {
    background-color: #174B87;
    justify-content: space-around;
    text-align: center;
    align-content: space-around;
    color: white; !important;

}

.custom-table.table-striped tbody tr:nth-of-type(even) {
    background-color: lightgrey;
    justify-content: space-around;
    text-align: center;
    align-content: space-around;
    color: black; !important;
}


.button-container .custom-button {

    background-color: #174B87; !important;
    border-color: #174B87 !important;
    color: white; !important;

}

